@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,200');

.btn,
.navbar .navbar-nav>a.btn {
    border-width: 2px;
    font-weight: 400;
    font-size: 0.8571em;
    line-height: 1.35em;
    margin: 5px 1px;
    border: none;
    border-radius: 0.1875rem;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #888;
    color: #FFFFFF;
}

.btn-primary {
    background-color: #204c7c;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover,
.show>.btn-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:hover {
    background-color: #204c7cf0;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-primary:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17) !important;
}

button,
input,
optgroup,
select,
textarea {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

small {
    font-size: 60%;
}

a {
    color: #2a4f7d;
}

a:hover,
a:focus {
    color: #2a4f7d;
}

h1,
.h1 {
    font-size: 4.2em;
    line-height: 1.15;
    /* margin-bottom: 30px; */
}

h1 small,
.h1 small {
    font-weight: 700;
    text-transform: uppercase;
    opacity: .8;
}

h2,
.h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

h3,
.h3 {
    font-size: 2em;
    margin-bottom: 30px;
    line-height: 1.4em;
}

h4,
.h4 {
    font-size: 1.714em;
    line-height: 1.45em;
    margin-top: 30px;
    margin-bottom: 15px;
}

h4+.category,
h4.title+.category,
.h4+.category,
.h4.title+.category {
    margin-top: -10px;
}

h5,
.h5 {
    font-size: 1.57em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

h6,
.h6 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    line-height: 1.61em;
}

.text-primary {
    color: #204c7c !important;
}

.text-black {
    color: #2c2c2c;
}

.text-white {
    color: #ffffff;
}

.bg-white {
    background-color: #FFFFFFF0 !important;
}

body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* Animations */

.nav-pills .nav-link,
.nav-item .nav-link,
.navbar,
.nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.navbar {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem;
    min-height: 53px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.navbar p {
    display: inline-block;
    margin: 0;
    line-height: 21px;
}

.navbar .navbar-nav .nav-link.btn {
    padding: 11px 22px;
}

.navbar .navbar-nav .nav-link:not(.btn) {
    text-transform: uppercase;
    font-size: 0.7142em;
    padding: 0.5rem 0.7rem;
    line-height: 1.625rem;
}

img {
    max-width: 100%;
    border-radius: 1px;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #FFFFFF;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #FFFFFF;
}

.tooltip-inner {
    padding: 0.5rem 0.7rem;
    min-width: 130px;
    background-color: #FFFFFF;
    font-size: 14px;
    color: inherit;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'Nucleo Outline';
    src: url("../fonts/nucleo-outline.eot");
    src: url("../fonts/nucleo-outline.eot") format("embedded-opentype"), url("../fonts/nucleo-outline.woff2") format("woff2"), url("../fonts/nucleo-outline.woff") format("woff"), url("../fonts/nucleo-outline.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.now-ui-icons.ui-1_simple-remove:before {
    content: "\ea53";
}

.modal-content {
    border-radius: 0.1875rem;
    border: none;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
}

.modal-content .modal-header {
    border-bottom: none;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 0;
    padding-left: 24px;
}

.modal-content .modal-header button {
    position: absolute;
    right: 27px;
    top: 30px;
    outline: 0;
}

.modal-content .modal-header .title {
    margin-top: 5px;
    margin-bottom: 0;
}

.modal-content .modal-body {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    line-height: 1.9;
}

.modal-content .modal-footer button {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
}

.modal-content .modal-footer button.pull-left {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    left: -5px;
}

.modal-content .modal-body+.modal-footer {
    padding-top: 0;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.modal .modal-header .close {
    color: #FF3636;
    text-shadow: none;
}

.modal .modal-header .close:hover,
.modal .modal-header .close:focus {
    opacity: 1;
}

/* Alterações */

body { background: #ffffff; }

.navbar {
    background-color: transparent;
    box-shadow: none !important;
    position: fixed !important;
}

.navbar-toggler-bar {
    background-color: #204c20 !important;
}

.navbar-title {
    color: white;
    font-weight: bold;
}

.fade-mob {
    display: none;
}

.main-promo {
    background-image: url(../images/montain.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    padding-top: 25vh;
    color: #2c2c2c;
}

small.subtitle {
    font-size: 1.375rem !important;
    line-height: 1.636;
    color: #495057;
}

.second-promo-back {
    background: linear-gradient(25deg,#4580bd,#87a3c3 50%);
}

.second-promo {
    color: #ffffff;
    background: url(../images/back.png) no-repeat bottom right;
    background-size: 100% 70px;
    /* transform: skewY(2deg); */
}

.third-promo {
    background: white;
    color: #2c2c2c;
    /* transform: skewY(2deg); */
}

.col-xl-3 img {
    max-height: 100px;
    max-width: 100%;
    margin-bottom: 50px;
}

.logos {
    margin-bottom: 80px;
}

.logos-title {
    position: relative;
    margin-top: -100px;
    font-weight: bold;
    text-shadow: 2px 2px 30px rgba(255, 255, 255, 1);
    display: none;
}

.title h5 {
    font-weight: bold;
    font-size: 29px;
    color: #3949ab;
}

.btn-github {
    box-shadow: 0 3px 5px 0 rgba(36,50,66,.2);
    background: white !important;
}

.btn-github span {
    color: #2c2c2c;
    margin: 0;
    margin-left: 20px;
    font-weight: 900;
    font-size: 14px;
}

.navbar-title img {
    height: 40px;
    vertical-align: text-top;
}

.navbar-brand { 
    width: 100%;
}

.nav-item p {
    color: #646f79;
    font-weight: bold;
}

.nav-item p:hover {
    color: #204c7c;
}

.row { margin: 0; }

.input-box {
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border: 2px solid #e0e6e8;
}

.btn-submit {
    width: 100%;
    font-size: 17px !important;
    margin-top: 20px !important;
    border-radius: 2px;
}

.input-box:focus {
    border: 2px solid #204c7c;
}

.text-form-footer {
    font-weight: 600;
    color: #222b37 !important;
}

a { cursor: pointer !important; }

.text-form-footer:hover { text-decoration: underline !important; }

.color-primary { color: #204c7c !important; }

.footer-collabs {
    padding: 50px 0px;
    padding-top: 30px;
    background-color: #e9ecef;
}

footer p {
    margin-bottom: 7px !important;
}

.footer-title {
    font-weight: bold;
}

.footer-collabs img {
    max-height: 30px;
    max-width: 100%;
    filter: grayscale(1);
    margin-bottom: 20px;
}

.footer-creator {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
}

.footer-creator p {
    margin: 0 !important;
}

.footer-creator p:hover .heart {
    color: #F44336;
}

.footer-creator p:hover .tag {
    color: #2196F3;
}

.footer-creator p:hover .creator {
    color: #212529;
}

.creator {
    font-style: italic;
    cursor: pointer;
}

.footer-creator p {
    font-weight: bold;
    cursor: default;
}

.footer-rights {
    font-size: 15px;
}

.footer-rights p {
    margin: 0;
}

.footer-collabs img:hover {
    filter: grayscale(0);
}

.footer-site {
    padding: 7px 0px;
    color: white;
    font-size: 18px !important;
    background-color: #204c7c;
}

.ribbon {
	position: fixed;
    top: 100px;
    right: 0;
	width: 90px;
	height: 135px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 999;
	-webkit-transition: all 1s ease;
    transition: all 1s ease; 
    background-image: url("../images/ribbon.png");
	background-repeat: no-repeat;
    background-size: 90px 135px;
    cursor: pointer;
}

.ribbon a {
    width: 90px;
	height: 135px;
}